{% extends 'base.html.twig' %}

{% block title %}Recherche d'un établissement{% endblock %}

{% block body %}
    {{ include('components/_side.html.twig') }}
    <div class="right">
    <h1 class="text-center mt-5 mb-7">Recherche d'un etablissement </h1>
    <div class="table-responsive">
        <table class="table table-bordered shadow-cmusic">
        <thead>
            <tr>
                <th>Nom de l'établissement <img onclick="loopdisplay()" src="{{ asset('build/images/loop.png') }}" alt="loop" class="ms-3">
                    <div id="form-loop" style="display: none">
                        {{ form_start(form) }}
                        {{ form_widget(form.search) }}
                        {{ form_end(form) }}
                    </div>
                </th>
                <th>Adresse</th>
                <th>Annimateur/trice</th>
                <th>Téléphone</th>
                <th>Adresse mail</th>
                <th>Note</th>
            </tr>
            </thead>
            <tbody>
            {% for etablissement in etablisements %}
                <tr>
                    <td><a href="{{ path('etablissement_show', {'id': etablissement.id}) }}">{{ etablissement.name }}</td>
                    <td>{{ etablissement.adress }} {{ etablissement.postalcode }} {{ etablissement.city }}</td>
                    <td>{{ etablissement.nameContact }}</td>
                    <td>{{ etablissement.phone }}</td>
                    <td>{{ etablissement.email }}</td>
                    <td>{{ etablissement.note }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Aucun établissement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    <script>
        function loopdisplay() {
            let x = document.getElementById("form-loop");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>

{% endblock %}
