<header>
    <div class="side-bar-content">
        <div class="header-side">
            <h1 class="white fw-bold title-side"><a href="/" class="white">CMUSIC</a></h1>
            <a href="{{ path('etablissement_new') }}"><img  class="img-side" src="{{ asset('build/images/etablissement.png') }}" alt="etablisement"><p class="text-side-icon">Encodage d'un établissement</p></a>
            <a href="#"><img class="img-side" src="{{ asset('build/images/prestation.png') }}" alt="prestation"><p class="text-side-icon">Encodage d'une prestation</p></a>
            <a href="#"><img class="img-side" src="{{ asset('build/images/invoice.png') }}" alt="invoice"><p class="text-side-icon">Nouvelle facture</p></a>
            <a href="#"><img class="img-side" src="{{ asset('build/images/calendar.png') }}" alt="calendar"><p class="text-side-icon">Rechercher une prestation</p></a>
        </div>
        <div class="content-side-bar-desktop">
            <h1 class="white fw-bold title-side mb-7"><a href="/" class="white">CMUSIC</a></h1>
            <a href="{{ path('etablissement_new') }}" class="d-flex align-items-center p-4"><img  class="img-side" src="{{ asset('build/images/etablissement.png') }}" alt="etablisement"><p class="text-side-icon ms-4 white mb-0">Encodage d'un établissement</p></a>
            <a href="#" class="d-flex align-items-center p-4"><img class="img-side" src="{{ asset('build/images/prestation.png') }}" alt="prestation"><p class="text-side-icon ms-4 white">Encodage d'une prestation</p></a>
            <a href="#" class="d-flex align-items-center p-4"><img class="img-side" src="{{ asset('build/images/invoice.png') }}" alt="invoice"><p class="text-side-icon ms-4 white">Nouvelle facture</p></a>
            <a href="#" class="d-flex align-items-center p-4"><img class="img-side" src="{{ asset('build/images/calendar.png') }}" alt="calendar"><p class="text-side-icon ms-4 white">Rechercher une prestation</p></a>
        </div>
    </div>
</header>
